* {
  font-family: "DNFBitBitv2", sans-serif;
}

.quiz-layout {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quiz-question {
  color: white;
  font-size: 36px;
  text-align: center;
  word-break: keep-all;
  max-width: 65vw;
  margin: 0 auto;
  margin-bottom: 20px;
}

.quiz-options-container,
.flex-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  width: 100%;
  align-items: center;
}

.flex-container {
  flex-direction: row;
  justify-content: center;
}

.quiz-button,
.back-button {
  width: 350px;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  border: 10px solid #ff98cc;
  border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 5px;
}

.quiz-button:hover {
  background-color: #ffccdd;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.quiz-result {
  margin-top: 20px;
  font-size: 28px;
  text-align: center;
}
.quiz-result.correct-answer {
  color: #00bfff;
}

.quiz-result.wrong-answer {
  color: red;
}

.quiz-explanation {
  font-size: 28px;
  text-align: center;
  color: black;
  -webkit-text-stroke: 0.5px white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  margin: 0 auto;
}

.back-button {
  width: 200px;
  position: absolute;
  left: 80%;
  transform: translateX(-80%);
  bottom: 20px;
}

.welcome-text {
  font-size: 128px;
  line-height: 186px;
  background: linear-gradient(90deg, #6899fe 0%, #ffffff 49.5%, #ff98cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.welcome-text-exp {
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 36px;
}
.ox-quiz-button {
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 192px;
  line-height: 1.2;
  color: #ffffff;
  -webkit-text-stroke: 3px #ff98cc;
  padding: 0;
  transition: none;
}

.x-stroke {
  -webkit-text-stroke: 3px blue;
}

.ox-quiz-button:hover {
  background-color: transparent;
  box-shadow: none;
}
.unselected {
  border: 10px solid grey;
}
.unselected-text-stroke {
  -webkit-text-stroke: 1px grey;
}

.center-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.quiz-finished-message > div:first-child {
  color: white;
  font-size: 72px;
  text-align: center;
}

.quiz-finished-message > div:not(:first-child):not(.quiz-button-container) {
  color: white;
  font-size: 48px;
  text-align: center;
}

.quiz-button-container {
  margin-top: 50px;
  text-align: center;
}

.quiz-button.selected-option-animation {
  pointer-events: none;
}

.quiz-button.unselected-option-animation {
  border: 10px solid gray;
  pointer-events: none;
}

.next-question-button {
  width: 200px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #ff00fe;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.unselected-text-stroke {
  border: transparent;
}
