.background-style {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/backgrounds/Stock.png");
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.input-style {
  /* width: 425px;
  height: 60px; */
  /* padding-right: 50px;
  padding-left: 15px; */
  /* background-image: url("../assets/stock/searchbar.png"); */
  /* background-size: cover; */
  /* position: absolute; */
  /* left: 8vw;
  top: 100px; */
  width: 83%;
  height: 100%;
  font-size: 30px;
  border-right: 3px solid black;
  border-left: none;
  border-top: none;
  border-bottom: none;
  font-family: "DNFBitBitv2";
  appearance: none;
  outline: none;
  background: none;
}

.searchbutton-style {
  /* background-image: url("../assets/stock/searchbar.png"); */
  /* height: 60px;
  width: 60px; */
  width: 12%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f409a;
  color: white;
  /* background-position: right center; */
}

.korea {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
  border-radius: 30px;
  font-size: 24px;
  cursor: pointer;
}

.korea:hover{
  background-color: #0f3ab1;
  color:white

}
