.no-scroll {
  overflow: hidden;
}

/* 이게 문제임 별도의 클래스를 만들어서 해야함 다른 클래스랑 겹침 ㅎㅎ....!!
.background-image {
  background: url("../../assets/backgrounds/startPage.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
}
*/
