.profile-and-info {
  display: flex;
  width: 300px;
  font-size: 24px;
  padding: 10px 10px;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid black;
  margin-top: 5px;
}

.info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.level-type {
  color: #f9c93e;
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  gap: 10px; /* level과 type 사이의 간격 */
}

.info-overlay {
  padding-inline: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 오른쪽 정렬 */
}

.white-rounded-box {
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 오른쪽 정렬 */
  font-size: 24px;
}

.white-rounded-box-row {
  background-color: white;
  border-radius: 100px;
  padding: 10px 20px;
  margin: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row; /* 가로 방향으로 정렬 */
  font-size: 24px;
  width: 250px;
  top: -40px;
}

.navigation-buttons.vertical {
  padding-inline: 16px;
  box-sizing: border-box;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 버튼들을 오른쪽 정렬 */
}

.navigation-buttons.vertical img {
  /* margin-top: 7px; */
  width: 60px;
  height: 60px;
  /* margin-right: 10px; */
  cursor: pointer;
}

button:hover,
.navigation-buttons.vertical img:hover {
  opacity: 0.8;
}

.clickme {
  height: 200px;
}

.clickme img {
  width: 200px;
  height: 200px;
  position: absolute; /* position을 relative로 변경 */
  bottom: 100px;
  left: 80px;
}

.level-type {
  font-size: 18px;
  justify-content: flex-start;
}

.nickname {
  font-size: 36px;
}

.columnCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-block: 2px;
}
.info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* 변경된 부분 */
  width: 100%;
}

.tip-box {
  background-color: rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 170px; /* 기본 높이 */
  border-radius: 16px;
  box-sizing: border-box;
  padding: 16px;
  color: white;
  overflow: hidden;
}
.swiper-container {
  font-size: 16px;
  margin-top: 4px;
  width: 100%;
  height: 80%;
  overflow: hidden;
  white-space: normal;
}

.Sample {
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}
