.profile-and-info {
  display: flex;
  width: 300px;
  font-size: 24px;
  padding: 10px 10px;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid black;
  margin-top: 5px;
}

.info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.level-type {
  color: #f9c93e;
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  gap: 10px; /* level과 type 사이의 간격 */
}

.info-overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 오른쪽 정렬 */
}

.white-rounded-box {
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 오른쪽 정렬 */
  font-size: 24px;
}

.white-rounded-box-row {
  background-color: white;
  border-radius: 100px;
  padding: 10px 20px;
  margin: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row; /* 가로 방향으로 정렬 */
  font-size: 24px;
  width: 250px;
  margin-right: 40px;
}

.navigation-buttons.vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 버튼들을 오른쪽 정렬 */
}

.navigation-buttons.vertical img {
  margin-top: 7px;
  width: 60px; /* 이미지 너비를 40px로 설정 */
  height: 60px; /* 이미지 높이를 40px로 설정 */
  margin-right: 10px;
  cursor: pointer;
}

button:hover,
.navigation-buttons.vertical img:hover {
  opacity: 0.8;
}

.clickme {
  height: 200px;
}

.clickme img {
  width: 200px;
  height: 200px;
<<<<<<< HEAD
  position: relative; /* position을 relative로 변경 */
  top: -100px; /* 원래 위치에서 위로 200px */
  margin-left: 20px;
}

.level-type {
  font-size: 18px;
  justify-content: flex-start;
}

.nickname {
  font-size: 36px;
=======
  transition: transform 0.25s ease;
}

.clickme img:active {
  transform: scale(1.2);
>>>>>>> 5fb5e78872be05522036459b5569309fab06a4d7
}
