.profile-and-info {
  display: flex;
  width: 300px;
  font-size: 24px;
  padding: 10px 10px;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid black;
  margin-top: 5px;
}

.info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.level-type {
  color: #f9c93e;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.info-overlay {
  padding-inline: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.white-rounded-box {
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 24px;
}

.white-rounded-box-row {
  background-color: white;
  border-radius: 100px;
  padding: 10px 20px;
  margin: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  font-size: 24px;
  width: 250px;
  top: -40px;
}

.navigation-buttons.vertical {
  padding-inline: 16px;
  box-sizing: border-box;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 180px;
}

.navigation-buttons.vertical img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

button:hover,
.navigation-buttons.vertical img:hover {
  opacity: 0.8;
}

.clickme {
  height: 200px;
}

.clickme img {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 100px;
  left: 80px;
}

.level-type {
  font-size: 18px;
  justify-content: flex-start;
}

.nickname {
  font-size: 36px;
}

.columnCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-block: 2px;
  cursor: pointer;
}
.info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.tip-box {
  background-color: rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 170px;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 16px;
  color: white;
  overflow: hidden;
}
.swiper-container {
  font-size: 16px;
  margin-top: 4px;
  width: 100%;
  height: 80%;
  overflow: hidden;
  white-space: normal;
}

.Sample {
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}
.navigation-buttons .items {
  display: none;
}

.navigation-buttons .items.show {
  display: flex;
  z-index: 1000;
}
.navigation-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.placeholder {
  height: 294px; /* 다른 버튼들의 총 높이에 해당하는 값으로 조정 */
}
.show-buttons {
  margin-top: 24px;
  margin-right: 26px;
}
.new-area {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 70%;
  margin-right: 20px;
  background-color: #f0f0f0; /* 배경색 예시 */
  text-align: center;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.3);
}
.tabs button {
  cursor: pointer;
  padding: 10px;
  margin-right: 5px;
  border: none;
  background-color: #f0f0f0;
}

.tabs button.active {
  background-color: #ddd;
}

.tab-content div {
  margin: 5px 0;
}
.tabs {
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}

.tabs button {
  cursor: pointer;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 100px;
  margin-bottom: 10px;
}

.tabs button.active {
  background-color: #ddd;
}

.tab-content div {
  margin: 10px 20px;
  font-size: 24px;
  text-align: start;
}

.navigation-buttons .items {
  display: none;
}

.navigation-buttons .items.show {
  display: flex;
  z-index: 1000;
}
/* CSS */
.tabs-button {
  flex: 1; /* 모든 버튼이 균등한 크기를 가지도록 설정 */
}
