.background-image {
  background: url("../../assets/backgrounds/startPage.png");
  background-size: contain;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}
