html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* 스크롤바 제거 */
}

.background-image {
  background: url("../../assets/backgrounds/startPage.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
}
