.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rounded-rectangle {
  width: 80%;
  height: 80%;
  background-color: #ffde6b;
  border-radius: 60px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 70%;
}

.form-control {
  width: 100%;
  margin-bottom: 15px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-primary,
.btn-secondary {
  flex: 1; /* 버튼들이 동일한 크기를 가지도록 설정 */
  margin: 0 5px; /* 버튼들 사이의 간격 설정 */
}
.custom-input {
  font-size: 30px;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 36px;
}
.label-custom {
  color: white;
  font-size: 18px;
  margin-bottom: 12px;
}
.custom-login {
  font-size: 24px;
  border-radius: 50px;
  padding: 10px 20px;
}
