.BookLayout-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.BookLayout-backgroundImage {
  width: 100%;
  height: 100%;
}

.BookLayout-content {
  display: flex;
  position: absolute;
  left: 300px; /* 예시로 주어진 위치에 따라 조정 */
  top: 180px;
}

.BookLayout-rectangle {
  width: 300px;
  height: 380px;
  background: rgba(255, 209, 156, 0.51);
  border-radius: 30px;
  text-align: center;
  font-size: 24px;
  margin-right: 20px; /* 옆에 있는 grid와의 간격 */
}

.BookLayout-grid {
  width: 600px; /* 너비를 512px로 지정 */
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(160px, 1fr)
  ); /* 그리드 아이템의 크기에 맞춰 열의 수를 조정 */
  gap: 20px;
}

.BookLayout-gridItem {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}
