.test-layout {
  background-color: black;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.character-image {
  width: 420px;
  position: fixed;
  left: 80px;
  top: 25%;
}

.test-content {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.test-title {
  margin-top: 18px;
  font-size: 64px;
}

.test-line {
  width: 90%;
  border-width: 2px;
  border-color: white;
  margin-top: 12px;
}

.test-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.intro-text {
  font-size: 34px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
  align-self: flex-end;
  margin-right: 10%;
}

.start-test-button {
  display: block;
  width: auto;
  padding: 10px 20px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 350px;
  transition: background-color 0.3s;
}

.start-test-button:hover {
  background-color: #45a049;
}

.test-questions {
  color: #333;
  background-color: transparent;
  margin-top: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quiz-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10%;
}

.test-button {
  width: 800px;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  background-color: lightgray;
  border: none;
  background: #ffffff;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 5px;
  margin-left: auto;
}

.question-text {
  font-size: 32px;
  color: white;
}

.result-text {
  font-size: 24px;
  color: white;
}

.progress-bar-background {
  width: 90%;
  margin: 10px auto;
  background-color: #e0e0e0;
  border-radius: 10px;
}

.progress-bar-fill {
  height: 20px;
  background-color: blue;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}
.home-button {
  position: fixed;
  right: 100px;
  bottom: 50px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #45a049;
}
